@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<StackOverflowClone.Models.Question>

@if (Model.Any())
{
    <ul>
        @foreach (var question in Model)
        {
            <li>@Html.ActionLink(question.Title, "Details", "Question", new { id = question.Id })</li>

        }
    </ul>
}
else
{
    <p>No Questions have been asked. Please Log In to continue!</p>
}
